<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 ml-5 h1 text-light">
      <span class="mr-3 border border-light rounded p-1 font-weight-bold hand-pointer"
        data-toggle="modal" data-target="#infoModal">JS</span>
      Jira Secretary
  </span>
</nav>
<div class="modal fade bd-example-modal-lg" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Words from Qing</h5>
      </div>
      <div class="modal-body">
        <p>
            This is a small project, which serves for generate timesheet of work logs from Jira.
        </p>
        <p>
            It is composed by a front end (Angular), and a back end (Spring boot).
        </p>
        <p>
            The back end is responsible for making an HTTP request to Jira with Jira API, processing data,
            and sending them to the front end. Meantime, the front end is responsible for summarising data and generating timesheet file.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
